#header-sticky-navbar {
  background: linear-gradient(to top, rgba(51, 51, 51, 0.7), rgb(28, 28, 28));
  position: fixed;
  top: -100px;
  width: 100%;
  padding: 10px;
  transition: top 0.3s;
}

#header-sticky-navbar li {
  margin: 10px 15px 5px 15px;
}

#header-sticky-navbar li a {
  color: white;
  font-size: 27px;

  text-decoration: none;
}
