.main-bg {
  position: absolute;
  z-index: 0;
  padding: 0;
  background-image: url(../image/corkbord2.jpg);
  width: 100vw;
  height: 100vh;
  background-size: auto;
}

.left-sidebar {
  margin: 0;
  padding: 30px 30px 90px 30px;

  background-color: rgba(138, 43, 226, 0.8);

  width: fit-content;

  border-radius: 0px 0px 23px 0px;
}

#call-to-action-btns {
  margin: 20px 0 10px 0;
}

#call-to-action-btns button {
  padding: 6px 15px 6px 15px;
  margin: 0 5px 0 5px;
  border-color: orangered;
  border-radius: 27px;

  /*background styling*/
  background-color: rgba(71, 21, 117, 0.9);

  /*font styling*/
  font-size: 20px;
  font-style: oblique;
  color: rgb(34, 17, 1);

  /*color slide animations*/
  animation-name: slide-animation-btn;
  animation-duration: 10s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
}

@keyframes slide-animation-btn {
  0% {
    color: red;
  }
  25% {
    color: rgb(174, 64, 0);
  }
  50% {
    color: rgb(255, 0, 102);
  }
  100% {
    color: rgb(224, 90, 1);
  }
}

/*Donate btn Styling*/
.index-section2 {
  background-color: black;
}
