{% extends 'main/base.html' %} {% load static %} {% block extrahead_content %}
<link
  rel="stylesheet"
  type="text/css"
  href="{% static '/main/css/uni_bg.css' %}"
/>
<link
  rel="stylesheet"
  type="text/css"
  href="{% static '/main/css/homepage_css/homepage.css' %}"
/>
<title>Homepage</title>
{% endblock extrahead_content %} {% block content%}
<section class="uni-bg" id="parent-pos-section">
  <h1>Top Cases</h1>
  <div class="parent-content-container" id="case-list">
    <div id="case-list-item">
      <div>
        <img
          src="{% static 'main/image/profimg.png' %}"
          alt="case_img_placeholder"
        />
        <h2>case_individual_name</h2>
      </div>
      <div>
        <h1>Case: case_name</h1>
        <h2>Case_type</h2>
        <h3>Location</h3>
        <small>description</small>
      </div>
    </div>
  </div>
</section>
{% endblock content%} {% block extra_js_content_aft_body %}
<script src="{% static '/main/js/homepage_js/homepage_case_list.js' %}"></script>
{% endblock extra_js_content_aft_body %}
