<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- ***CSS sheet for base(navbar)*** -->
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'main/css/base.css' %}"
    />
    <!-- ***CSS sheet for index(main content)*** -->
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static '/main/css/index.css' %}"
    />
    <!-- ***CSS sheet for left sidebar nav*** -->
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static '/main/css/left_sidebar_nav.css' %}"
    />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
    />

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <!--**start extrahead content **-->
    {% block extrahead_content %}{% endblock extrahead_content %}
    <!--**end extrahead content **-->
    <title>Pinvestigator</title>
  </head>
  <!--***End of head***-->

  <body>
    <!--***Navbar starts***-->
    <header class="nav-header">
      <a href="{% url 'index'%}">
        <img
          src="{% static 'main/image/profimg.png' %}"
          alt="Pinvestigations home label"
          ,
          class="img-logo-design"
        />
      </a>
      <nav>
        <ul class="nav-link-designs">
          <li><a href="{% url 'signup' %}">Signup</a></li>
          <li><a href="{% url 'login' %}">Login</a></li>
          <li><a href="{% url 'about_us' %}">About Us</a></li>
        </ul>
      </nav>
    </header>
    <!--******Navbar ends*******-->

    <!--*****main background contents start*****-->
    {% block content %} {% endblock content %}
    <!--Javascript for website-->
    {% block extra_js_content_aft_body %}{% endblock extra_js_content_aft_body%}
    <!--End java script-->
  </body>
</html>
