{% extends 'main/index.html' %} {% block test %}
<div class="container">
  <div class="row">
    <div class="col-md-6">
      <h2>Column 1</h2>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed auctor
        turpis sit amet lacus molestie, sit amet mollis mi fermentum. Phasellus
        et eros at magna tristique laoreet. Fusce et vestibulum libero.
      </p>
      <h1>rover</h1>
      <p>yo</p>
    </div>
    <div class="col-md-1">
      <h2>Column 2</h2>
      <p>
        Nullam eu elit nec arcu posuere luctus sed vel odio. Aliquam at quam
        ante. Suspendisse potenti. In efficitur massa quis mauris malesuada, in
        varius elit tincidunt. Vestibulum at ipsum ac dolor elementum pharetra.
      </p>
    </div>
  </div>
</div>

{% endblock test %}
