ul {
  list-style-type: none;
}

.parent-content-container {
  background-color: #c5ac6b !important;

  border-radius: 0px 0px 10px 10px;
  /*clip-path: polygon(0 0, 50% 0, 50% 20%, 100% 20%, 100% 100%, 0 100%);*/
}

#case-list-item {
  border-style: groove;
  border-width: 5px 0 5px 0;
  border-color: rgb(118, 118, 118);

  padding: 20px 55px 20px 55px;
}

#case-list-item img {
  max-width: 125px;
  max-height: 150px;
}
